[submodule "iconpark"]
	path = external/iconpark
	url = git@github.com:bytedance/IconPark.git
[submodule "tdesign-icons"]
	path = external/tdesign-icons
	url = git@github.com:Tencent/tdesign-icons.git
